<br>
<h2><%= @list.title %></h2>

<p>
  <%= link_to '', like_list_path(@list.id), remote: true,
  											id: "like_#{@list.id} fi-star",
  											class: "fi-heart like #{liked_list @list}" %>


  <%= render 'lists/likes', list: @list %>
  <br>
  <% if @list.node.present? %>
  节点: <%= link_to @list.node.name, @list.node, class: "node" %>
  <% else %>
  节点未填写
  <% end %>

  <% if @list.user.present? %>
  用户名: <%= link_to @list.user.name, profile_path(@list.user.name) %>
  <% else %>
  用户名未填写
  <% end %>
</p>
<br>

<div class="list-content">
  <%= raw markdown(@list.content) %>
</div>

<br><br><br><br>

<% if user_signed_in? %>
	<%= link_to '修改', edit_list_path(@list), class: "tiny success hollow button" %>
<% end %>
<%= link_to '返回首页', lists_path, class: "tiny alert hollow button" %>

<br><br><br>

<br>     
<div class="list-bottom">
	<div class="list-comment">
		<div class="comment-#{list.id}">
			<h2>评论:</h2>
			<% @list.comments.each do |comment| %>
				<div class="user-name">
					<%= link_to "comment.user.name" %>
				</div>
				<div class="comment-content">
					<%= comment.content %>
				</div>

			<% end %>
		</div>
		<br>
		<div class="comment-form">
		      <%= simple_form_for [@list, @list.comments.build] do |f| %>
		      
		        <%= f.input :content, label: '评论内容', placeholder: '添加评论...', class: "comment_content" %>
		             
		        <%= f.button :submit, '提交', class: 'comment-submit-button' %>
		       
		      <% end %>
	    </div>
	</div>
</div>

