<div class="lists-wrapper">
	<div class="list">
		<list class="body">
			<div class="image-wrap">
				<%= simple_form_for @user, url: {action: "update"}, html: { multipart: true } do |f| %>
					<div class="row">
						<div class="large-6 columns">
						<div class="form-group text-center">
							<h4>改变你的默认头像</h4>
							<div class="img-circle avatar-image">
								<%= profile_avatar_select(@user) %>
							</div>
							<%= f.input :avatar, label: false, input_html: { onChange: 'loadFile(event)' } %>
						</div>							
						</div>
					</div>
					<div class="row">
						<div class="large-6 columns">
							<div class="form-group text-center">
								<h4>跟新您的简介</h4>
								<%= f.input :bio, label: false, input_html: { rows: 4 } %>
							</div>
						</div>
					</div>
					
				<% end %>
				<div class="form-group text-center">
					<%= f.button :submit, '更新', class: 'success button tiny' %>
				</div>
			</div>
		</list>
	</div>
</div>

